---
import { Icon } from "astro-icon/components";
---

<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
  <!-- <Icon
    name="logo"
    class="logo-fixed size-16 text-yellow-300 dark:text-yellow-300"
  /> -->
  <img src="/brand-example.svg" class="w-16" />
  <span
    class="logo self-center whitespace-nowrap text-3xl font-semibold text-gray-600 dark:text-white"
    >Company</span
  >
</a>
