---
import Containter from "../../components/Container.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Footer1 from "../componentExamples/footers/footer1.astro";
import Footer2 from "../componentExamples/footers/footer2.astro";
import Footer3 from "../componentExamples/footers/footer3.astro";
---

<BaseLayout title="Footers">
  <Containter>
    <section class="mt-8 bg-white dark:bg-gray-800">
      <div
        class="mx-auto flex max-w-screen-xl flex-col items-center px-4 py-8 sm:py-16 lg:px-6"
      >
        <div class="mb-8 max-w-screen-md lg:mb-16">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
          >
            We provide several footer options
          </h1>
          <p class="text-gray-500 dark:text-gray-400 sm:text-xl">
            We have various footers that can fit your website design goals.
            Whether you are after something sleek or cozy for a small boutique,
            or want a full site map, we can help.
          </p>
        </div>
        <div
          class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3"
        >
          <div>
            <div
              class="mb-4 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
            >
              <svg
                class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 16H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1M9 12H4m8 8V9h8v11h-8Zm0 0H9m8-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"
                ></path>
              </svg>
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              Responsive Design
            </h3>
            <p>
              <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-2">
                  Our footers come in a variety of styles, from sleek modern
                  designs to professional business, ensuring they suit any
                  website aesthetic.
                </li>
                <li class="mb-2">
                  Each design is carefully crafted to provide a visually
                  appealing and cohesive look for your site.
                </li>
              </ul>
            </p>
          </div>
          <div>
            <div
              class="mb-4 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
            >
              <svg
                class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"
                ></path>
              </svg>
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              Versatile Designs
            </h3>
            <p>
              <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-2">
                  Our footers are designed to be fully responsive, providing an
                  excellent appearance on any device, from desktop computers to
                  smartphones.
                </li>
                <li class="mb-2">
                  With responsive footers, your site's vital information stays
                  intuitive and accessible, greatly improving the user
                  experience.
                </li>
              </ul>
            </p>
          </div>
          <div>
            <div
              class="mb-4 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
            >
              <svg
                class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"
                ></path>
              </svg>
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              Dark Mode Enabled
            </h3>
            <p>
              <ul class="text-gray-500 dark:text-gray-400">
                <li class="mb-2">
                  Every footer includes built-in dark mode capabilities,
                  allowing users to switch seamlessly between light and dark
                  themes.
                </li>
                <li class="mb-2">
                  Dark mode not only reduces eye strain in low-light
                  environments but also gives your website a modern and stylish
                  appearance.
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="mb-8 mt-8 grid grid-rows-3 gap-12">
      <div>
        <h2
          class="mb-4 text-center text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Footer Option 1
        </h2>
        <Footer1 />
        <ul
          class="grid list-inside list-disc grid-cols-1 gap-4 p-4 text-gray-500 dark:text-gray-400 md:grid-cols-2"
        >
          <!-- class="text-gray-500 dark:text-gray-400" -->
          <li class="p-2">
            Sleek and slim design creates a minimal but functional footer
          </li>
          <li class="p-2">Site navigation with built in site map</li>
          <li class="p-2">Responsiveness means header fits all screen sizes</li>
          <li class="p-2">
            Hamburger menu for slide-out side drawer in mobile view
          </li>
        </ul>
      </div>
      <div>
        <h2
          class="mb-4 text-center text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Footer Option 2
        </h2>
        <Footer2 />
        <ul
          class="grid list-inside list-disc grid-cols-1 gap-4 p-4 text-gray-500 dark:text-gray-400 md:grid-cols-2"
        >
          <li class="p-2">
            Modern footer with full column-based navigation links
          </li>
          <li class="p-2">
            Can add links to social media accounts for better user engagement
          </li>
          <li class="p-2">Responsiveness means header fits all screen sizes</li>
          <li class="p-2">
            Hamburger menu for slide-out side drawer in mobile view
          </li>
        </ul>
      </div>
      <div>
        <h2
          class="mb-4 text-center text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Footer Option 3
        </h2>
        <Footer3 />
        <ul
          class="grid list-inside list-disc grid-cols-1 gap-4 p-4 text-gray-500 dark:text-gray-400 md:grid-cols-2"
        >
          <li class="p-2">
            Corporate layout that includes a column-based navigation
          </li>
          <li class="p-2">
            Separate sub-footer with complimentary colors and social media links
          </li>
          <li class="p-2">Responsiveness means header fits all screen sizes</li>
          <li class="p-2">
            Hamburger menu for slide-out side drawer in mobile view
          </li>
        </ul>
      </div>
    </div>
  </Containter>
</BaseLayout>
