---

---

<a href="/contact">
  <button
    type="button"
    class="bg-primary-500 px-4 py-2 text-center font-bold text-white hover:bg-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700"
    >Contact Us</button
  >
</a>
