---

---

<section
  class="max-w-full bg-gray-600 bg-[url('/hero-image.jpg')] bg-cover bg-no-repeat py-16 bg-blend-multiply md:h-screen md:pb-8"
  aria-labelledby="hero-heading"
>
  <div class="mx-auto max-w-screen-xl px-4 py-24 text-center md:py-80">
    <h1
      id="hero-heading"
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl"
    >
      Yellow City Web Designs
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 sm:px-16 lg:px-48 lg:text-xl"
    >
      Amarillo's new super-charged web development company. We focus on world
      class speed and responsive mobile-first web design, using state-of-the-art
      technologies built specifically for content-driven static site generation.
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        href="/contact"
        class="inline-flex items-center justify-center rounded-lg bg-yellow-300 px-5 py-3 text-center text-base font-medium text-black hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-yellow-400 dark:focus:ring-yellow-400"
        aria-label="Contact us to discuss your project"
      >
        Let's talk
        <svg
          class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
      <a
        href="#intro"
        class="inline-flex items-center justify-center rounded-lg border border-white px-5 py-3 text-center text-base font-medium text-white hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-400 sm:ms-4"
        aria-label="Learn more about Yellow City Web Designs"
      >
        Learn more
      </a>
    </div>
  </div>
  <!-- this is here so the feature head component stays in view -->
  <div id="intro" class="mb-16 md:mb-32"></div>
</section>
