---

---

<section class="bg-white dark:bg-gray-800">
  <div
    class="mx-auto max-w-screen-xl gap-16 px-4 pb-8 md:py-8 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16"
  >
    <div class="mb-4 md:mb-12">
      <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          About Yellow City Web Design
        </h2>
        <p class="mb-4">
          YCWD is located in Amarillo, TX. Although we don't have a physical
          location, we "opened our doors" in the fall of 2024. YCWD's goal is to
          make modern websites for people and businesses that need websites to
          just work.
        </p>
        <p class="mb-4">
          Yellow City Web Design is a company built on years of software
          expertise and real world experience behind it. We offer only the best
          web devlopment exeprience with no compromises.
        </p>
      </div>
      <div
        class="font-light text-gray-500 dark:text-gray-400 sm:text-lg md:mt-12"
      >
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          About Me
        </h2>
        <p class="mb-4">
          My name is Derrick Shaw. I started YCWD in 2024, after I quit my
          software developer job. I have a combined 10 years experience in
          Information technology, full stack development, and web development.
        </p>
        <p class="mb-4">
          I set out to do freelance for a few reasons. First, I want to use my
          talents and my hobbies to create amazing websites. Secondly, you may
          not know this but there are a lot of poorly built sites out there. You
          shouldn't have to suffer through using Wix to make your professional
          business website and I can help with that.
        </p>
      </div>
    </div>

    <div class="lg:mt-12">
      <div
        class="font-light text-gray-500 dark:text-gray-400 sm:text-lg md:mt-12"
      >
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Best in class results
        </h2>
        <p class="mb-4">
          I started YCWD with SEO in mind. I hand-selected a framework that is
          lightweight, fast, and built around SEO best practices. Current web
          design is a race to the bottom. I want to offer a best-in-class web
          experience that doesn't rely on bulky plugins to help in web searches.
        </p>
        <p class="mb-4">
          I also focus on perfomance, accessability, and modern best practices
          when developming websites. We do not cut corners. What this means is
          that you get consistantly high ranking SEO scores, along with top
          speed and pefromance scores across the board.
        </p>
      </div>
      <div
        class="font-light text-gray-500 dark:text-gray-400 sm:text-lg md:mt-12"
      >
        <h2
          class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Modern web development redefined
        </h2>
        <p class="mb-4">
          Our sites are hand-written, with a modern technology stack that
          includes AstroJS and TailwindCSS. Astro is lightweight and uses very
          little JavaScript while Tailwind allows for rapid development due to
          it's utility-first aproach to styling pages.
        </p>
        <p class="mb-4">
          We don't use any heavy frameworks or archaic languages that can slow
          down your website. We build sites that are lightning fast, responsive,
          and that utilize cutting-edge design guidelines.
        </p>
      </div>
    </div>
  </div>
</section>
