---
import { Icon } from "astro-icon/components";
import { brand } from "../common/companyItems";
---

<div class="flex flex-col">
  <div class="grid justify-center lg:justify-start">
    <div class="mb-6 flex items-center space-x-3">
      <img
        src="../../logo-outline.png"
        class="w-16"
        width="64px"
        height="64px"
        alt="brand logo"
      />
      <span
        class="logo self-center whitespace-nowrap text-3xl font-semibold text-gray-100"
        >{brand.company.name}</span
      >
    </div>
    <div
      class="mb-6 flex items-center space-x-3 text-sm font-normal text-gray-100"
    >
      Extra area for content 1
    </div>
    <div
      class="mb-6 flex items-center space-x-3 text-sm font-normal text-gray-100"
    >
      Extra area for content 2
    </div>
  </div>
</div>
