---

---

<section class="bg-white dark:bg-gray-800">
  <!-- one -->
  <div
    class="mx-auto max-w-screen-xl items-center gap-16 px-4 py-8 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16"
  >
    <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        Static Web Design Redefined
      </h2>
      <p class="mb-4">
        Discover the next evolution in web design with our redefined approach to
        static websites. Gone are the days of static pages being dull and
        outdated. We blend cutting-edge aesthetics with robust performance,
        ensuring your site not only looks stunning but also loads at lightning
        speed.
      </p>
      <p>
        Embrace the future with streamlined code, enhanced SEO, and seamless
        user experiences. Elevate your online presence with a static web design
        that’s anything but ordinary.
      </p>
    </div>
    <div class="mt-8 grid grid-cols-2 gap-4">
      <img
        class="w-full rounded-lg"
        src="tailwind-snip.png"
        alt="office content 1"
        width="688px"
        height="905px"
      />
      <img
        class="mt-4 w-full rounded-lg lg:mt-10"
        src="html-css-js.png"
        alt="office content 2"
        width="688px"
        height="905px"
      />
    </div>
  </div>
  <!-- two -->
  <div
    class="mx-auto max-w-screen-xl items-center gap-16 px-4 py-8 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16"
  >
    <!-- show on small screen  -->
    <div class="mt-8 grid grid-cols-2 gap-4 max-lg:hidden">
      <img
        class="mt-4 w-full rounded-lg lg:mt-10"
        src="astrojs-expose.png"
        alt="astrojs logo"
        width="688px"
        height="905px"
      />
      <img
        class="w-full rounded-lg"
        src="tailwindcss-expose.png"
        alt="tailwind css logo"
        width="688px"
        height="905px"
      />
    </div>
    <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        State-of-the-Art Technologies
      </h2>
      <p class="mb-4">
        Unlock the potential of your business with our state-of-the-art web
        development solutions. We utilize the latest technologies to build
        websites that are as functional as they are beautiful. Our modern
        approach guarantees fast loading times, robust security, and an
        exceptional user experience on any device.
      </p>
      <p>
        Perfect for businesses of all sizes, our websites are designed to grow
        with you, ensuring you stay ahead in the digital landscape. Let us
        create a website that truly represents your brand and drives your
        success.
      </p>
    </div>
    <!-- hide on large screen  -->
    <div class="mt-8 grid grid-cols-2 gap-4 lg:hidden">
      <img
        class="mt-4 w-full rounded-lg lg:mt-10"
        src="astrojs-expose.png"
        alt="astrojs logo"
        width="688px"
        height="905px"
      />
      <img
        class="w-full rounded-lg"
        src="tailwindcss-expose.png"
        alt="tailwind css logo"
        width="688px"
        height="905px"
      />
    </div>
  </div>
  <!-- three -->
  <div
    class="mx-auto max-w-screen-xl items-center gap-16 px-4 py-8 lg:grid lg:grid-cols-2 lg:px-6 lg:py-16"
  >
    <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        World Class SEO and Website Speeds
      </h2>
      <p class="mb-4">
        When we design your website, we prioritize superior SEO and performance.
        Our design process includes optimizing for high Lighthouse scores and
        ensuring fast website speeds, providing your visitors with a seamless
        experience. We build SEO best practices into every site, enhancing your
        search engine rankings and driving organic traffic.
      </p>
      <p>
        By focusing on both visibility and user experience, we create websites
        that excel in every aspect. Trust [Your Company Name] to deliver a site
        that's engineered for excellence.
      </p>
    </div>
    <div class="mt-8 grid grid-cols-2 gap-4">
      <img
        class="w-full rounded-lg"
        src="seo-lighthouse-expose-1.png"
        alt="average performance 99 and accessability 100 score"
        width="688px"
        height="905px"
      />
      <img
        class="mt-4 w-full rounded-lg lg:mt-10"
        src="seo-lighthouse-expose-2.png"
        alt="seo score 100"
        width="688px"
        height="905px"
      />
    </div>
  </div>
</section>
