---

---

<div class="mx-auto mt-8 max-w-screen-md px-4 py-16 lg:mt-0 lg:py-16">
  <h1
    class="mb-4 text-center text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
  >
    <slot name="title">Title</slot>
  </h1>
  <p class="text-center font-light text-gray-500 dark:text-gray-400 sm:text-xl">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
